.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
  font-family: 'Cabinent-Grotesk', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.header__logo {
    margin-right: 24px;
}

.header__date {
    margin: 0;
    padding: 0;
}

.header__add-clothes-button {
    margin: 0px 20px 0;
    border: none;
    font-weight: 700;
}

.header__user-container {
    display: flex;
    align-items: center;
    gap: 12px;
}

.header__username {
    margin: 0;
    padding: 0;
}

.header__toggle-switch {
    margin-left: auto;
}
